body {
  margin: 0;
  background: lavender;
}

main {
  width: 100%;
  height: 100%;

}

header {
  text-align: center;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;


  &-container {
    background: gray;
    border: 1px solid black;
    max-width: 500px;
  }
}