body {
  margin: 0;
  background: lavender;
}

main {
  width: 100%;
  height: 100%;

}

header {
  text-align: center;
}

.calculator {

  &-container {
    background: #95e048;
    border: 1px solid black;
  }

  .input {
    text-align: right;
  }

  .form-result {
    text-align: right;
  }

  .btn {
    margin-bottom: 5px;
  }

}